.small {
  width: var(--large-small);
  height: var(--large-small);
}
.base {
  width: var(--base);
  height: var(--base);
}
.medium {
  width: var(--large-medium);
  height: var(--large-medium);
}
.large {
  width: var(--x-large);
  height: var(--x-large);
}
.xlarge {
  width: var(--xx-large);
  height: var(--xx-large);
}
.huge {
  width: var(--xxx-large);
  height: var(--xxx-large);
}
