:root {
  --primary: #ffe600;
  --dark: #000000;
  --secondary: #0000ff;
  --bg: #fff;
  --gray: #e0e0e0;
  --gray-light: #f4f4f4;
  --success: #22c55e;
  --success-light: #4ade80;
  --success-dark: #008000;
  --info: #38bdf8;
  --warning: #eab308;
  --danger: #b91c1c;
  --danger-light: #f87171;
  --disabled: #808080;
  --disabled-light: #9c9b9b;
  --transparent: transparent;
}

:root[data-theme="dark"] {
  --bg: #000000;
  --gray: #181818;
  --gray-light: #303030;
}
