.small {
  font-size: var(--large-small);
}
.base {
  font-size: var(--base);
}

.medium {
  font-size: var(--medium);
}

.large {
  font-size: var(--large-medium);
}
.xlarge {
  font-size: var(--large);
}
.huge {
  font-size: var(--x-large);
}
