.footer {
  flex-grow: 1;
  justify-content: center;
  min-height: 10vh;
  background-color: var(--primary);

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-top 0.3s ease;
  border-top: var(--xx-small) solid var(--dark);
}
