.carousel {
  display: flex;
  height: var(--full);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: var(--small);
}
.carousel::-webkit-scrollbar {
  height: var(--small);
}
.carousel::-webkit-scrollbar-track {
  background: var(--gray);
  border-radius: var(--x-small);
}
.carousel::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--xx-small);
}
.carousel > * + * {
  margin-left: var(--small);
}

:root[data-theme="dark"] {
  .carousel::-webkit-scrollbar-track {
    background: var(--gray-light);
  }
}
